<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Noto+Color+Emoji&family=Noto+Emoji:wght@300..700&family=Orbit&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=music_note" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fortune.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='img/cookie.svg')}}" type="image/svg+xml">
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
    <title>Fortune Lyrics - Turn your favorite songs into fortune cookies</title>
</head>

<body>
    <header>
        <div class="logo">
            <span class="material-symbols-outlined">
                music_note
            </span>
            <span class="noto-color-emoji">🥠</span>
        </div>
        <h1>Fortune lyrics</h1>
    </header>
    {% block profile %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    <footer>
        Made by <a href="https://github.com/albert-ce">@albert-ce</a> on GitHub
    </footer>
</body>

</html>